/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {  
  box-sizing: border-box;  
}

*, *:before, *:after {  
  box-sizing: inherit;  
}

body {
    font-family: "Futura", "Century Gothic", sans-serif;
}

/* header */

.page-header {
  padding: 2.5em 5em;
}

.page-header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: : bold;
  letter-spacing: -0.05em;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #919eab;
}

h1 a:hover {
  color: #000000;
}

li {
    list-style-type: none;
}

.social-media {
  position: absolute;
  right: 1%;
  top: 7%;
}

.main-nav {
  position: absolute;
  right: 25%;
  top: 7%;
}

.main-nav li, .social-media li {
    display: inline-block;
    position: relative;
    font-family: 'Fanwood Text', cursive;
    font-size: 135%;
    padding-right: 2em;
}

/* hero */

.hero-content {
  max-width: 90%;
}

.hero-content h1 {
  font-size: 500%;
  color: #000000;
  padding: 1em;
  margin: 0;
  line-height: 1.15;
  font-family: 'Poppins', serif;
  letter-spacing: -0.05em;
}

span {
  font-style: italic;
  font-family: 'Fanwood Text', cursive;
  color: #000000;
  margin: 0;
  line-height: 1.15;
}


.learn-more {
    font-size: 1.25em;
    font-weight: : none;
    border: none;
    display: inline-block;
    padding: 0 0em 3em 4em;
    margin-bottom: 2em;
   
}

.learn-more a{
    text-decoration: none;
    font-family: 'Fanwood Text', serif;
    border: 2px solid #5467f2;
    border-radius: 35px;
    color: #5467f2;
    padding: 1em 2em;
}

.learn-more a:hover{
    background-color: #5467f2;
    color: #fff;
}

/* case-study */

.case-study {
    padding: 5em 5em;
    line-height: 1.5em;
    position: relative;
    margin: auto;
}

.study-thumbnail {
    background-color:hsla(0, 0%, 0%,0.25);
    width: 40%;
    position: relative;
    float: left;
    text-align: center;
    margin-left: 3em;
    display: block;
}

.study-thumbnail h3 {
    position: absolute;
    width: 70%;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: left;
    color: #fff;
    font-size: 250%;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

.study-image {
    max-width: 100%;
    display: block;
    position: relative;
    z-index: -10;
    border: 1px solid #fff;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
}

.study-thumbnail:hover {
    background-color: hsla(0,0%,0%,0.5);
}


.study-thumbnail:hover h3 {
    color: #fff;
}

.detail-button {
    font-size: 1.25em;
    font-weight: : none;
    display: absolute; 
    transform: translate(-25%, -300%);
}

.detail-button a{
    text-decoration: none;
    font-family: 'Fanwood Text', serif;
    border: 2px solid #fff;
    border-radius: 35px;
    color: #fff;
    padding: 1em 2em;
}

.detail-button a:hover{
    background-color: #fff;
    color: #000;
}

/* text-content */

.text-content h2 {
  font-family: 'Fanwood Text', serif;
  font-weight: normal;
  font-size: 300%;
  padding: 1em 1.5em;
  line-height: 1.15;
  width: 80%;
}

.text-content span a {
  text-decoration: underline;
}

.text-content span a:visited {
  text-decoration: underline;
  color: #000;
}

.text-content span a:hover {
  color: #919eab;
}

.our-studio {
    font-size: 1.25em;
    font-weight: none;
    border: none;
    display: inline-block;
    padding: 0 0em 3em 4em;
    margin-bottom: 2em;
   
}

.our-studio a{
    text-decoration: none;
    font-family: 'Fanwood Text', serif;
    border: 2px solid #26e1c0;
    border-radius: 35px;
    color: #26e1c0;
    padding: 1em 2em;
}

.our-studio a:hover{
    background-color: #26e1c0;
    color: #fff;
}

/*solution*/

.solution-thumbnail {
    width: 40%;
    position: relative;
    float: left;
    text-align: center;
    margin-left: 3em;
}

.solution-thumbnail h3 {
    position: absolute;
    width: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -150%);
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 250%;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

.solution-thumbnail p {
    position: absolute;
    font-family: 'Fanwood Text', serif;
    width: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 120%;
    font-weight: normal;
    line-height: 1.2;
}

.sol {
    transform: translate(0%, -200%);
}

.solution-box {
  box-shadow: 0px 0px 40px hsla(0,0%,0%,0.15);
  width: 40%;
  float: left;
  margin-left: 3em;
  margin-bottom: 3em;
  padding: 5em;
  text-align: center;
}

.solution-box h3 {
  color: #000;
  font-size: 200%;
  font-weight: normal;
  letter-spacing: -0.05em;
  padding: 0;
  margin: 0;
}

 h4 {
  color: #bbb;
  font-family: 'Fanwood Text', serif;
  font-size: 125%;
  font-weight: normal;
  padding: 0.5em;
  margin: 0;
}

/*contact*/
.contact {
  display: block;
  padding: 0;
  width: 100%;
}

.contact-info h3 {
  padding: 0;
  font-size: 300%;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 1em 0 0.5em 0;
}

.contact-info {
  width: 60%;
  float: left;
  font-family: 'Fanwood Text', serif;
  padding: 0 1em;
  margin: 0;
}

.image-crop {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.iamge-crop img {
    display: inline;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.contact-form {
  padding-top: 2em;
  width: 40%;
  float: right;

}

.contact h4 {
  color: #fff;
  font-family: 'Fanwood Text', serif;
  font-size: 150%;
  font-weight: normal;
  padding: 0 0 3em;
  margin: 0;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
  width: 100%;
}

select {
  width: 100%;
  font-family: 'Fanwood Text', serif;
  font-size: 125%;
  padding: 3em;
  margin: 0.25em 0 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=text], input[type=tel], select [name=help] {
    width: 100%;
    font-family: 'Fanwood Text', serif;
    font-size: 125%;
    padding: 1.25em;
    margin: 0.25em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.contact {
  clear: both;
  background: hsla(259,92%,59%,1);
  background: -moz-linear-gradient(left, hsla(259,92%,59%,1) 0%, hsla(268,79%,53%,1) 76%, hsla(268,79%,53%,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, hsla(259,92%,59%,1)), color-stop(76%, hsla(268,79%,53%,1)), color-stop(100%, hsla(268,79%,53%,1)));
  background: -webkit-linear-gradient(left, hsla(259,92%,59%,1) 0%, hsla(268,79%,53%,1) 76%, hsla(268,79%,53%,1) 100%);
  background: -o-linear-gradient(left, hsla(259,92%,59%,1) 0%, hsla(268,79%,53%,1) 76%, hsla(268,79%,53%,1) 100%);
  background: -ms-linear-gradient(left, hsla(259,92%,59%,1) 0%, hsla(268,79%,53%,1) 76%, hsla(268,79%,53%,1) 100%);
  background: linear-gradient(to right, hsla(259,92%,59%,1) 0%, hsla(268,79%,53%,1) 76%, hsla(268,79%,53%,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7234f7', endColorstr='#8027e6', GradientType=1 );
  color: #fff;
  padding: 2em 4em 7em;
  margin-bottom: 0;
  overflow: hidden;
}

.contact a {
  color: #fff;
}
 .floated {
  float: right;
  padding-right: 15em;
 }

 .floated h4 {
  padding: 0;
 }

 .submit-button {
    font-size: 1.25em;
    font-weight: : none;
    display: absolute; 

}

.submit-button a{
    text-decoration: none;
    background-color: #000;
    font-family: 'Fanwood Text', serif;
    border-radius: 35px;
    color: #fff;
    padding: 1em 3em;
    margin: 2em 0;
    box-shadow: 0px 0px 40px hsla(0,0%,0%,0.15);
}


.submit-button a:hover {
    background-color: hsla(0,0%,0%,0.5);
}
/*footer*/

footer {
  background-color: #15161c;
  clear: both;
  color: #fff;
  width: 100%;
  display: block;
  padding-bottom: 10em;
  font-family: 'Fanwood Text', serif;
  overflow: hidden;
}

.footer-nav a, .footer-bottom a:link {
  color: #fff;

}

.footer-nav a, .footer-bottom a:visited {
  color: #fff;
}

.footer-nav a, .footer-bottom a:hover {
  color: #ddd;
}

.footer-nav {
  font-size: 200%;
}

.footer-left {
  position: absolute;
  float: left;
  padding-top: 2em;
  line-height: 1.5;
}

.locations {
  padding-top: 3em;
  position: relative;
  float:left;
  left: 45%;
  padding-right: 4em;
  padding-left: 3em;
}

.locations p {
  color: #bbb;
  font-size: 120%;
  padding: 0;
  margin: 0;
}

.locations h1 {
  font-size: 120%;
  font-weight: normal;
  ;
}

.priv-map li, .soc-media li {
    display: inline-block;
    position: relative;
    font-family: 'Fanwood Text', cursive;
    font-size: 100%;
    padding-right: 1em;
}

.soc-media , .priv-map {
  display: inline-block;
  position: relative;
  left: 8%;
  top: 300px;
  padding-right: 4em;
  padding-bottom: 10em;

}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
